.dark {
  --md-sys-color-primary: rgb(138 208 239);
  --md-sys-color-surface-tint: rgb(138 208 239);
  --md-sys-color-on-primary: rgb(0 53 69);
  --md-sys-color-primary-container: rgb(0 77 99);
  --md-sys-color-on-primary-container: rgb(188 233 255);
  --md-sys-color-secondary: rgb(180 202 213);
  --md-sys-color-on-secondary: rgb(30 51 60);
  --md-sys-color-secondary-container: rgb(53 74 83);
  --md-sys-color-on-secondary-container: rgb(208 230 242);
  --md-sys-color-tertiary: rgb(197 194 234);
  --md-sys-color-on-tertiary: rgb(46 45 77);
  --md-sys-color-tertiary-container: rgb(69 67 100);
  --md-sys-color-on-tertiary-container: rgb(226 223 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 230);
  --md-sys-color-surface: rgb(15 20 23);
  --md-sys-color-on-surface: rgb(223 227 230);
  --md-sys-color-surface-variant: rgb(64 72 76);
  --md-sys-color-on-surface-variant: rgb(192 200 205);
  --md-sys-color-outline: rgb(138 146 151);
  --md-sys-color-outline-variant: rgb(64 72 76);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 230);
  --md-sys-color-inverse-on-surface: rgb(44 49 52);
  --md-sys-color-inverse-primary: rgb(16 102 129);
  --md-sys-color-primary-fixed: rgb(188 233 255);
  --md-sys-color-on-primary-fixed: rgb(0 31 41);
  --md-sys-color-primary-fixed-dim: rgb(138 208 239);
  --md-sys-color-on-primary-fixed-variant: rgb(0 77 99);
  --md-sys-color-secondary-fixed: rgb(208 230 242);
  --md-sys-color-on-secondary-fixed: rgb(8 30 39);
  --md-sys-color-secondary-fixed-dim: rgb(180 202 213);
  --md-sys-color-on-secondary-fixed-variant: rgb(53 74 83);
  --md-sys-color-tertiary-fixed: rgb(226 223 255);
  --md-sys-color-on-tertiary-fixed: rgb(25 24 54);
  --md-sys-color-tertiary-fixed-dim: rgb(197 194 234);
  --md-sys-color-on-tertiary-fixed-variant: rgb(69 67 100);
  --md-sys-color-surface-dim: rgb(15 20 23);
  --md-sys-color-surface-bright: rgb(53 58 61);
  --md-sys-color-surface-container-lowest: rgb(10 15 17);
  --md-sys-color-surface-container-low: rgb(23 28 31);
  --md-sys-color-surface-container: rgb(27 32 35);
  --md-sys-color-surface-container-high: rgb(38 43 45);
  --md-sys-color-surface-container-highest: rgb(48 53 56);
}
