
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,body{
  font-family: 'Montserrat', serif;
}
#headcontent{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

}
#hamburgericon {
display: none;
flex-flow: column nowrap;
}
#hamburgericon span{
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 1px;
}
#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
  background: none;
 
  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}
#home{
  width: 100vw;
  height: 100vh;
}
#home::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image:  url(/reactportfolio/src/assets/office.jpg);
  background-size: cover;
  filter: opacity(95%); 
  z-index: -1; 
  transform: scale(1.1);
  overflow: hidden;
  max-height: 100vh;
}
#navbar {
  display: flex;
  flex-flow: row nowrap;
  

}
#navbar a{
  text-decoration: none;
  color: black;
  margin: 10px;
}
#themeswitch{
  border-radius:100px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  
}

